<<<<<<< HEAD



* {
    margin:0px;
    padding:0px;
}



nav select {
    background-color: black;
    color:#fff;
    padding:10px 20px;
}

nav {
display:flex;
justify-content:center;


}

.card {
    background-color: #6497b1;
    text-align: center;
  }

  
  
=======
*{
    margin:0;
    padding: 0;
  }

  h1 {
    height: 300px;
  }

  nav{
   background-color: yellow;
   height: 100px;
  }
  
  select{
    height: 50px;
    width: 200px;
    padding: 10px;
    font-style: normal center;
    font-size: 20px;   
    background: black;
    color: rgb(228, 227, 236);
    margin:25px;
   }
   
  .allPokemons{
    text-align: center; 
    padding: 15px; 
    position: center ; 
    display: inline-flex;
    background-color: rgba(250, 252, 248, 0.849); 
    border-radius: 20px; 
    border:9px solid rgba(47, 238, 21, 0.842);
    margin: 30px 30px; 
  }

  .allPokemons li{
    text-decoration: none; 
    list-style: none;
    font-size: 23px;
    color: rgb(227, 128, 240);
    
  }

>>>>>>> a049f969f8ce719bc43f9caffe1d6c63d2b5db09
